fastapi==0.111.0
uvicorn[standard]==0.30.1
gunicorn==22.0.0
onnxruntime==1.18.0
transformers==4.41.2
numpy==1.26.4
python-dotenv==1.0.1
pydantic-settings==2.14.1
slowapi==0.1.9
supabase==2.5.3
prometheus-fastapi-instrumentator==6.1.0
prometheus-client==0.20.0
